<ion-view view-title="Novo contato">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="Nome">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Instituição</span>
        <input type="text" placeholder="Instituição">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Número VoIP</span>
        <input type="tel" placeholder="Número VoIP">
      </label>

      <button class="button button-full button-positive button icon ion-checkmark"></button>
    </div>
  </ion-content>
</ion-view>